@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
}

nav.menu-lateral {
    width: 66px;
    height: 100%;
    background-color: rgb(129, 127, 127);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(61, 60, 60);

    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    overflow: hidden;
}
nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;

}
.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}
ul li.item-menu {
    transition: .5s;
}
ul li.item-menu:hover {
    background: rgb(61, 60, 60);
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link {
    margin-left: 40px;

}
ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 3px;
}